.toolBrush {
  display: flex;
  gap: 10px 20px;
  align-items: center;
  flex-wrap: wrap;
}

.selectBrush {
  font-size: 1.2rem;
}

.selectBrush,
.brushSize {
  font-size: 1.1rem;

  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.brush,
.brushSizeValue,
.brushSizeValue::-webkit-inner-spin-button {
  outline: none;
  appearance: none;
}

.brush {
  text-align: center;
  padding: 5px;
  border: none;
}

.brushSizeValue {
  appearance: none;
  text-align: center;
  padding: 5px;
}

.brushSizeValue::-webkit-inner-spin-button {
  appearance: none;
}
