.menu {
  list-style: none;
  padding: 8px;
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  background: var(--color-secondary);
  gap: 15px;
}

.menu,
.menu :is(button, div) {
  border: 5px solid;
  border-image: var(--imgBorderPixel) 10/1.3/1;
}

.menuOpen {
  translate: 0 -50%;
}

.menuClose {
  translate: -100% -50%;
}

.menu {
  /* display: flex;
  flex-direction: column; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.tools,
.tools :where(button) {
  --size: 40px;
  width: var(--size);
  height: var(--size);
  display: grid;
  place-content: center;
  position: relative;
}

.tools button {
  transition: 0.2s;
}

.InUse button {
  background: var(--color-highlight);
}

.tools button:hover {
  background: var(--color-highlight);
}

.tools button:hover::before {
  translate: 0px;
  opacity: 1;
}

.tools button::before {
  content: attr(data-title);
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 2;
  background: white;
  color: black;
  text-transform: uppercase;
  border: 5px solid;
  border-image: var(--imgBorderPixel) 10/1.3/1;
  translate: -10px 0;
  opacity: 0;
  transition: 0.3s 1.5s;
  user-select: none;
  pointer-events: none;
}

.toolsColors,
.download {
  grid-column: 2 span;
  justify-self: center;
}

.toolsColors {
  position: relative;
  height: 50px;
}

.download {
  justify-content: stretch;
}

.download,
.download button {
  min-width: 100%;
}

.colorPrimary,
.colorSecondary {
  position: absolute;
  --size: 40px;
  --positionX: -25%;
  width: var(--size);
  height: var(--size);
  transition: 0.25s;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -ms-transition: 0.25s;
  -o-transition: 0.25s;
}

.colorPrimary {
  top: 0;
  left: var(--positionX);
}

.colorSecondary {
  bottom: 0;
  right: var(--positionX);
}

.colorActive {
  z-index: 1;
}

.colorChangePrimary {
  translate: -20px;
  z-index: 1;
}

.colorChangeSecondary {
  translate: 10px;
}

.colorDesactive {
  z-index: 0;
}

.closeMenu {
  position: absolute;
  right: 0;
  top: 50%;
  translate: calc(100% - 10px) -50%;
  rotate: 90deg;
  font-weight: bold;
  padding: 5px 10px;
}

.download button {
  background: var(--color-highlight);
}
