.dialogConfiguration {
  background: skyblue;
}

.dialogConfiguration :is(button, div, input) {
  border: 5px solid;
  border-image: var(--imgBorderPixel) 10/1.3/1;
}

.setting {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.setting h2 {
  font-size: 1.4em;
}

.setting h3 {
  line-height: 0.8em;
}

.nameSetting {
  display: flex;
  gap: 15px;
  align-items: center;
}

.valueSetting::-webkit-inner-spin-button {
  text-align: center;
  appearance: none;
}

.addBackground {
  border: 3px solid;
  border-image: var(--imgBorderPixel) 5/1/1;
  width: 10px;
  height: 10px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  background: #fff;
}

.addBackground:checked {
  background: #000;
}

.valueSettingColor {
  padding: 0;
  position: relative;
  background: #000;
  appearance: none;
  border: none;
  -webkit-appearance: none;
}

.valueSettingColor::-webkit-color-swatch-wrapper {
  --sizeBorderParent: -5px;
  --size: calc(100% + (var(--sizeBorderParent) * -2));
  appearance: none;
  padding: 0;
  width: var(--size);
  height: var(--size);
  position: absolute;
  top: var(--sizeBorderParent);
  left: var(--sizeBorderParent);
}

.valueSettingColor::-webkit-color-swatch {
  border: none;
}
