.additionalTools {
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  grid-column: span 2;
  box-shadow: 0 -6px 15px var(--color-secondary);
  padding: 5px 20px;
}
.additionalTools svg {
  --size: 2rem;
  width: var(--size);
  height: var(--size);
}
.additionalTools > div {
  display: flex;
  align-items: center;
}
