@font-face {
  font-family: 'Pixelify Sans';
  src: local('Pixelify Sans'),
    url('/fonts/Pixelify_Sans/static/PixelifySans-Bold.ttf') format('truetype'),
    url('/fonts/Pixelify_Sans/static/PixelifySans-Medium.ttf')
      format('truetype'),
    url('/fonts/Pixelify_Sans/static/PixelifySans-Regular.ttf')
      format('truetype'),
    url('/fonts/Pixelify_Sans/static/PixelifySans-SemiBold.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Minecraft';
  src: local('Minecraft'),
    url('/fonts/Minecraft/Minecraft.ttf') format('truetype');
}

:root {
  --imgBorderPixel: url('./assets/marcoPixel.png');

  --bg: #181818;
  --color-secondary: #5c5c5c;

  --color: #fafafa;
  --color-highlight: #ff6e00;
  --color-highlight: #0099ff;

  --color-hover: #c4c4c4;
}

:root {
  font-family: 'Pixelify Sans', 'Minecraft', sans-ser/if;

  font-size: 16px;
  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Pixelify Sans','Minecraft', sans-serif;

  fill: var(--color);
}

body {
  user-select: none;
}

button,
input {
  outline: none;
  border: none;
  appearance: none;
  font-size: unset;
  background: var(--color-secondary);
}

dialog {
  outline: none;
}

button {
  font-weight: bold;
}

.borderPixel {
  border: 5px solid;
  border-image: var(--imgBorderPixel) 10/1.3/1;
}
