.tool {
  display: flex;
  align-items: center;
  gap: 20px;
}

.tool,
.tool :where(input, select, option) {
  font-weight: bold;
}

.select {
  display: flex;
  gap: 10px;
  position: relative;
  overflow: hidden;
}

.select::before {
  --size: 7px;
  content: '';
  width: var(--size);
  height: var(--size);
  z-index: 1;
  position: absolute;
  right: 5px;
  top: calc(50% - var(--size) + 1px);
  rotate: -45deg;

  border: 2px solid rgba(255, 255, 255, 0.5);
  border-top: 1px;
  border-right: 1px;

  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  /* clip-path: polygon(0 0, 40% 60%, 100% 100%, 0% 100%); */
  opacity: 1;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

.select:hover::before {
  border: 2px solid rgba(255, 255, 255, 1);
  border-top: 2px;
  border-right: 2px;
}

.brushSizeRange,
.inputSize::-webkit-inner-spin-button,
.inputSize,
.brush,
.optionBrush {
  appearance: none;
  outline: none;
  border: none;
}

.brush {
  padding: 5px 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  text-align: center;
  position: relative;
  padding: 5px 15px 5px 10px;
}

.labelSize {
  display: flex;
  gap: 10px;
  position: relative;
}

.labelSize::after,
.labelSize::before {
  --size: 5px;
  width: var(--size);
  height: var(--size);
  pointer-events: none;
  --positionVertical: 7px;
  content: '';
  position: absolute;
  right: 6px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-top: 1px;
  border-left: 1px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  /* opacity: 0; */
}

.labelSize::before {
  top: var(--positionVertical);
  rotate: -135deg;
  z-index: 1;
}

.labelSize::after {
  bottom: var(--positionVertical);
  rotate: 45deg;
}

.labelSize:hover::before,
.labelSize:hover::after {
  border: 2px solid rgba(255, 255, 255, 1);
  border-top: 1px;
  border-left: 1px;
}

.inputSize {
  text-align: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 0;
  width: 70px;
}

.inputSize::-webkit-inner-spin-button {
  position: relative;
  right: 4px;
  top: 0;
  width: 10px;
  height: 1rem;
}
